.container-parent{
    min-height: 50vh;
    height: fit-content;
}

.row-container{
    min-height: 50vh;
    height: fit-content;
}

.image-holder{
    background-size: cover;
    min-height: 100%;
    background-position:center;
}

