@import "../../appVars";

#navigation-bar,
#navigation-bar__nav {
  border-radius: 0px;
}

.select,
.control {
  border-radius: 0;
}

.dropdown-menu {
  background-color: $dark !important; 
}


.dropdown-item{
  color: $light !important;
}

.dropdown-item:hover{
  background-color: $secondary !important;
}